 /* *{
        display: none;
    } */
    body{
        background-color:burlywood;
        padding: 100px;
    }
    label{
        color: crimson;
        padding: 5px;
    
        
    }
    button{
        color: brown;
        
    }
    textarea:hover{
        background-color: bisque;
    }
    input:hover{
        background-color: antiquewhite;
        
    }
    input:text{
        padding: 5px;
        
    }
    .link{
        margin: 0 0 20px 0;
    }
    a{
        text-decoration: none;
        border: 1px solid brown;
        background-color:burlywood;
        color: white;
        padding: 5px 20px;
        border-radius: 20px;
        transition: 1s;
    }
    a:hover{
        background-color: black;
        padding: 5px 40px;
    }