 /* The body */
 body{
    background-color: bisque;
    padding: 100px;
}

h1, h2{
    color:brown;
}
/* targetting HTML class */
.name{
    color: aquamarine;
}

/* targetting HTML ID */
#name{
    color: aquamarine;
}
/* Creating a table in html */
table{
    width: 50%;
    border-collapse: collapse;
}
th,td{
    border: 1px solid red;
    border-collapse: collapse;
    padding: 8px;
    text-align: center;
}
tr:hover{
    background-color: beige;

}
ul li{
    color:olive;

}
ul ol li {
    color: blue;
}
a{
text-decoration: none;
border: 1px solid brown;
background-color:burlywood;
color: white;
padding: 5px 20px;
border-radius: 5px;


}
a:hover{
background-color: black;
}